

h1{
	font-size:50;
	font-family: calibri light;
	color:#2F4F4F ;
	text-align: center;
}

htlm{
	font-size:12;
	font-family: arial;
	color:red;
}

body{
	background-color:;
	font-family: calibri;
	font-size: 16;
}

p{
	text-align: center;
	font-size: 15;
}
